@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
}
body.admin{
    background-image:none;
}

body.no-bg{
    background-image: none;
    background-color: transparent;
}

.btnpoll{
    text-align: center;
    color:#fff !important;
    background-color: #836ef9;
}
.pollbtn{
    text-align: center;
}
hr {
    border-top: 1px solid #cccccc;
  }
.logo{
    height:60px;
}
.custom-radio{
    background-color: #fff;
    border: 3px solid #ddd7ff;
    border-radius: 5px;
    
}
.custom-radio:hover{
    background-color: #eab0e2;
    border: 3px solid #ddd7ff;
    border-radius: 5px;
    
}
.pad{
    padding:3px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 1px;
    left: 2px;
    position: relative;
    background-color: #cccccc;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 1px;
    left: 2px;
    position: relative;
    background-color: #c211a1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
.question-box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #e9ecef;
}
#question-form{
    margin:0 auto;
}
#message{
    padding:10px;
    margin:10px 0;
}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
.links{
    background-color:#ccc;
    padding:10px;
}
.links a{
    color:#cc0000;
    text-decoration:none;
}
#ques_count{
    display:inline-block;
}
.input-group{
    margin-bottom:5px;
}
h3{
    font-size: 1.5em;
    color: #f8f9fa;
}
.content{
    position:relative;
    height:80vh;
}
#login-form{
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    background-color:rgba(0,0,0,0.25);
    padding:20px 30px;
    border-radius:6px;
}
.form-control{
    border-radius: 0;
    padding: 5px 10px;
    font-size: 1.25em;
    border: none;
}
.login-button{
    background-color:#fe5900;
    border:none;
    opacity:0.6;
}
.login-button:hover{
    background-color:#fe5900;
    opacity:1;
}


form#add-poll{
    text-align:left;
}
form#add-poll .form-control{
    border: 1px solid #ccc;
}

form#add-poll label{
    margin:0 0 10px 0;
}


/*#polls{
    min-height:400px;
}*/
.pollques .col-12{
    padding: 0;
    background-color: #ddd7ff;
}
.pollques form{
    text-align:left;
    margin:0;
    padding: 20px 10px;
}

.pollopts{
    display:inline;
}
.pollques h6{
    width: 100%;
    background-color: #836ef9;
    color: #fff;
    font-size: 1em;
    padding: 10px 5px;
    text-align: left;
    margin-bottom: 0;
    border-radius: 6px 6px 0 0;
}

.progress{
    margin-bottom:10px;
    
}




.quiz-info{
    display: table-cell;
    border-right: 3px solid #000;
    padding: 5px 25px;
    font-size: 1em;
    width: 32%;
    vertical-align: top;
    
}
.quiz-info:last-child
{
    border:0;
}
.quiz-info h4{
    font-size:1.25em;
    
}

.pollques{
    margin-right: -15px !important ;
   margin-left: -15px !important;
    background-color: #ffffff;
    border-radius: 6px ;
}

.quiz-update{
    background-color: #ddd;
    display: table;
    width: 100%;
    border-radius: 8px;
}
/* @media (max-width: 1366px) {

}
@media (max-width: 1024px) {

} */

@media (max-width: 768px) {
.pollques{
   margin-right: 0px !important ;
   margin-left: 0px !important;
}
}